* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.4;
}

:root {
  --max-width-content: 1200px;
  --max-width-content-tight: 980px;
  --padding-content: 64px;
  --color-primary: #355ca8;
  --color-accent: #2a2a56;
  --color-white: #fff;
  --color-extraLightGrey: #f7f7fa;
  --color-lightGrey: #e7e8ed;
  --color-grey: #737888;
  --color-darkGrey: #3e4353;
  --color-extraDarkGrey: #1b1b27;
  --color-black: #070b16;
  --color-link: #2953d6;
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

html {
  font-size: 12px;
  line-height: 2;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4rem;
  margin: 0px;
}

p {
  font-size: 1.2rem;
  line-height: 1.8;
}

@media only screen and (min-width: 1920px) {
  :root {
    --max-width-content: 1920px;
    --padding-content: 128px;
  }

  html {
    font-size: 18px;
  }
}

@media only screen and (max-width: 425px) {
  :root {
    --max-width-content: 1200px;
    --padding-content: 24px;
  }

  html {
    font-size: 10px;
  }
}
